@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-color: #0346A5;
    --secondary-color: rgba(3, 70, 165, 1)
  }
}

@layer components {
  .pageLayout {
    padding: 10% 9rem;
  }

  .inputStyleWidth {
    width: 100%;
    margin-bottom: 2px;
  }

  .backSignup {
    border-radius: 15px;
    border: 2px solid var(--secondary-color, #0346A5);
    background: rgba(31, 130, 243, 0.08);
    box-shadow: 0px 0px 5px 0px rgba(86, 86, 86, 0.25);
  }

  /* ... */
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}